<center>
<h1 class="welcome">Welcome to The League!</h1>
<h3>2016 - 2017</h3>
<br><br>
<div class="frontp">
	<h3>ANNOUNCEMENTS:</h3><br>
	<p><strong>The draft is scheduled for Wednesday, August 24th @ 9:00pm EST!</p></strong><br><!-- <hr wisth="50%"> -->
</center>