<center>
<h1 class="welcome">Welcome to The League!</h1>
<h3>2016 - 2017</h3>
<br><br>
<div class="frontp">
	<h3>ANNOUNCEMENTS:</h3><br>
	<p>The draft is scheduled for Wednesday, August 24th @ 9:00pm EST. If that time will not work for you, please let me know and we can discuss options.</p><br><hr wisth="50%"><br>
	<p>If you have not paid your league dues for the upcoming season, please go to the Pay Dues page and do so now!<p>Team owners who have not paid by Wednesday, August 17th will be dropped from The League!</p><br>	
</center>