<center>
<h1 class="welcome">Welcome to The League!</h1>
<h4>Welcome to the 2016 - 2017 season!</h4>
<br><br>
<div class="frontp">
	<h3>ANNOUNCEMENTS:</h3><br>
	<h4>The draft is tentatively scheduled for Wednesday, September 7th @ 9:00pm EST. If that time will not work for you, please let me know and we can discuss options.</h4><br><hr wisth="50%"><br>
	<h4>If you have not paid your league dues for the upcoming season, please go to the Pay Dues page and do so now!<p>Team owners who have not paid by 8/31/2016 will be dropped from The League!</h4><br>	
</center>