<center>
<h1 class="welcome">Welcome to The League!</h1>
<h4>Welcome to the 2016 - 2017 season!</h4>
<br><br>
<div>
	<h3>ANNOUNCEMENTS:</h3><br>
	<h4><strong>If you have not paid your league dues for this season, please go to the Pay Dues page and do so now!<p>Team owners who have not paid by 8/31/2016 will be dropped from The League!</strong></h4><br><hr width="50%"><br>
	<h4>Welcome our new members...David Malary, Justin Marchese, and 
</center>