<div class="titles">The Teams</div><br>
<center>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Paid</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.team %></td>
        <td><%= user.email %></td>
        <td><%= number_to_phone(user.phone) %></td>
        <% if user.paid == true %>
            <td class="true">Yes</td>
            <% else %>
            <td class="false">No</td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>