// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title, .welcome {
	font-family: 'Lobster', cursive;
}

#footer {
	text-align: center;
}

#menu {
	text-align: center;
}// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
